body, html, #root, .app {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}